.client-wrapper {
  .cards {
    margin-top: 48px;
    margin-bottom: 32px;
    .cards-column {
      padding: 12px;
      .ant-card {
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 1px 5px -2px rgba(0, 0, 0, 0.2);
        .ant-card-body {
          padding: 0;
          .card-title {
            text-align: center;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.2rem;
            padding-top: 12px;
          }
          .progress-bar {
            text-align: center;
            .progress-text {
              color: #9e9e9e;
              font-size: 0.9rem;
              margin-top: 12px;
            }
          }
          .progress-bar.inverter {
            span.ant-progress-text {
              font-size: 1.15rem;
            }
            .progress-text.inverter {
              font-size: 0.85rem;
            }
          }
          .card-footer {
            margin-top: 1rem;
            padding-bottom: 1rem;
            .flex-tile {
              display: flex;
              i {
                line-height: 1.5;
                font-size: 1.3rem;
              }
              .battery_charging_full-icon.dashboard {
                color: #1890ff;
              }
              .account_balance_wallet-icon.dashboard {
                color: #ff7043;
              }
              .flash_on-icon.dashboard {
                color: #4caf50;
              }
              .power-icon.dashboard {
                color: #52c41a;
              }
              .power-icon.site {
                color: #52c41a;
              }
              .account_balance_wallet-icon.site {
                color: #ff7043;
              }
              .flash_on-icon.site {
                color: #4caf50;
              }
              .flex-text {
                margin-left: 12px;
                .value {
                  margin-bottom: 0;
                  font-size: 1rem;
                  font-family: 'Titillium Web', sans-serif;
                }
                .description {
                  color: #9e9e9e;
                  font-size: 0.8rem;
                }
              }
            }
            .flex-tile.corner-tile {
              padding-left: 16px;
            }
          }
        }
      }
      .ant-card:hover {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 4px -1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .client-wrapper {
    .cards {
      margin-top: 40px;
      margin-bottom: 20px;
      .cards-column {
        padding: 12px;
        .ant-card {
          margin-bottom: 20px;
          .ant-card-body {
            .card-footer {
              .flex-tile {
                .flex-text {
                  .value {
                    font-size: 1rem;
                  }
                  .description {
                    font-size: 0.75rem;
                  }
                }
              }
              .flex-tile.corner-tile {
                padding-left: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .client-wrapper {
    .cards {
      margin-top: 48px;
      margin-bottom: 20px;
      .cards-column {
        padding: 8px;
        .ant-card {
          margin-bottom: 24px;
          .ant-card-body {
            .card-footer {
              .flex-tile {
                .flex-text {
                  .value {
                    font-size: 0.9rem;
                  }
                  .description {
                    font-size: 0.75rem;
                  }
                }
              }
              .flex-tile.corner-tile {
                padding-left: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .client-wrapper {
    .cards {
      margin-top: 48px;
      margin-bottom: 24px;
      .cards-column {
        padding: 0px;
        .ant-card {
          margin-bottom: 32px;
          .ant-card-body {
            .card-footer {
              .flex-tile {
                .flex-text {
                  .value {
                    font-size: 1rem;
                  }
                  .description {
                    font-size: 0.8rem;
                  }
                }
              }
              .flex-tile.corner-tile {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}