.client-wrapper {
  .content-wrapper {
    .content {
      .inverter-charts {
        .extra-tab-content {
          display: flex;
          line-height: 1.5;
          i {
            line-height: 2;
          }
          .power-icon {
            color: #52c41a;
          }
          .flex-content {
            display: flex;
            flex-direction: column;
            margin-left: 12px;
          }
          .value {
            font-size: 1.2rem;
            margin-bottom: 0;
            font-family: 'Titillium Web', sans-serif;
          }
          .description {
            color: #9e9e9e;
            font-size: 0.9rem;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .client-wrapper {
    .content-wrapper {
      .content {
        .inverter-charts {
          .extra-tab-content {
            padding-top: 4px;
            i {
              font-size: 1.2rem;
            }
            .flex-content {
              margin-left: 12px;
            }
            .value {
              font-size: 1rem;
              margin-bottom: 0;
            }
            .description {
              font-size: 0.8rem;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .client-wrapper {
    .content-wrapper {
      .content {
        .inverter-charts {
          .extra-tab-content {
            padding-top: 4px;
            i {
              font-size: 1.2rem;
            }
            .flex-content {
              margin-left: 12px;
            }
            .value {
              font-size: 1rem;
              margin-bottom: 0;
            }
            .description {
              font-size: 0.8rem;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .client-wrapper {
    .content-wrapper {
      .content {
        .inverter-charts {
          .extra-tab-content {
            padding-top: 4px;
            i {
              font-size: 1.2rem;
            }
            .flex-content {
              margin-left: 12px;
            }
            .value {
              font-size: 1rem;
              margin-bottom: 0;
            }
            .description {
              font-size: 0.8rem;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}