.content {
  .inverter-data {
    margin-top: 40px;
    .inverter-tile {
      margin-bottom: 4px;
      display: flex;
      flex-wrap: wrap;
      .tile-content {
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        margin: 12px;
        margin-right: 0;
        padding-right: 12px;
        .value {
          font-size: 1.3rem;
          margin-bottom: 0;
          font-family: 'Titillium Web', sans-serif;
        }
        .description {
          color: #9e9e9e;
          font-size: 0.9rem;
        }
        .color-1 {
          color: #1890ff;
        }
        .color-2 {
          color: #4caf50;
        }
        .color-3 {
          color: #e91e63;
        }
        .color-4 {
          color: #ff7043;
        }
      }
      .tile-content.power-tile {
        flex: 1 0 auto;
        min-width: 200px;
        max-width: 244px;
      }
      .tile-content.energy-tile {
        flex: 1 0 auto;
        min-width: 200px;
        max-width: 244px;
      }
      .tile-content.income-tile {
        flex: 1 0 auto;
        min-width: 200px;
        max-width: 312px;
      }
    }
    .tile-title {
      font-size: 1rem;
      color: #563d7c;
      padding-left: 24px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .content {
    .inverter-data {
      .inverter-tile {
        .tile-content {
          .value {
            font-size: 1.1rem;
          }
          .description {
            font-size: 0.8rem;
          }
        }
        .tile-content.power-tile {
          flex: 1 0 auto;
          min-width: 120px;
          max-width: 100%;
        }
        .tile-content.energy-tile {
          flex: 1 0 auto;
          min-width: 120px;
          max-width: 100%;
        }
        .tile-content.income-tile {
          flex: 1 0 auto;
          min-width: 140px;
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .content {
    .inverter-data {
      .inverter-tile {
        .tile-content {
          .value {
            font-size: 1rem;
          }
          .description {
            font-size: 0.8rem;
          }
        }
        .tile-content.power-tile {
          flex: 1 0 auto;
          min-width: 140px;
          max-width: 100%;
        }
        .tile-content.energy-tile {
          flex: 1 0 auto;
          min-width: 140px;
          max-width: 100%;
        }
        .tile-content.income-tile {
          flex: 1 0 auto;
          min-width: 140px;
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .content {
    .inverter-data {
      .inverter-tile {
        .tile-content {
          .value {
            font-size: 1.1rem;
          }
          .description {
            font-size: 0.8rem;
          }
        }
        .tile-content.power-tile {
          flex: 1 0 auto;
          min-width: 140px;
          max-width: 100%;
        }
        .tile-content.energy-tile {
          flex: 1 0 auto;
          min-width: 140px;
          max-width: 100%;
        }
        .tile-content.income-tile {
          flex: 1 0 auto;
          min-width: 140px;
          max-width: 100%;
        }
      }
      .tile-title {
        padding-left: 16px;
      }
    }
  }
}