.client-wrapper {
  .content {
    .inverter-mppt-level {
      margin-top: 32px;
      margin-bottom: 64px;
      .mppt-title {
        font-size: 1rem;
        display: inline-block;
        color: #563d7c;
        margin-left: -28px;
      }
      .ant-table {
        overflow: auto;
      }
      .ant-table-thead>tr>th,
      .ant-table-tbody>tr>td {
        word-break: initial;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .client-wrapper {
    .content {
      .inverter-mppt-level {
        .mppt-title {
          margin-left: -12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .client-wrapper {
    .content {
      .inverter-mppt-level {
        .mppt-title {
          padding-left: 0px;
          margin-left: -4px;
        }
        .ant-table-thead>tr>th {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .client-wrapper {
    .content {
      .inverter-mppt-level {
        .mppt-title {
          padding-left: 16px;
          margin-left: 0px;
        }
        .ant-table-thead>tr>th {
          font-size: 1rem;
        }
      }
    }
  }
}