.client-wrapper {
  .tiles {
    margin-top: 48px;
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      .tiles-flexbox {
        .ant-card {
          margin-right: 48px;
          margin-bottom: 32px;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 1px 5px -2px rgba(0, 0, 0, 0.2);
          .tiles-card {
            display: flex;
            i {
              line-height: 2;
            }
            .business-icon.dashboard {
              color: #1890ff;
            }
            .flash_on-icon.dashboard {
              color: #4caf50;
            }
            .show_chart-icon.dashboard {
              color: #e91e63;
            }
            .account_balance_wallet-icon.dashboard {
              color: #ff7043;
            }
            .business-icon.site {
              color: #1890ff;
            }
            .show_chart-icon.site {
              color: #e91e63;
            }
            .account_balance_wallet-icon.site {
              color: #ff7043;
            }
            .flash_on-icon.site {
              color: #4caf50;
            }
            .power-icon.site {
              color: #52c41a;
            }
            .battery_charging_full-icon.site {
              color: #ff7043;
            }
            .tiles-content {
              display: flex;
              flex-direction: column;
              margin-left: 12px;
              .value {
                font-size: 1.2rem;
                margin-bottom: 0;
                font-family: 'Titillium Web', sans-serif;
              }
              .description {
                color: #9e9e9e;
                font-size: 0.9rem;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .client-wrapper {
    .tiles {
      margin-top: 48px;
      .flex-container {
        .tiles-flexbox {
          .ant-card {
            margin-right: 0px;
            margin-bottom: 0px;
            .tiles-card {
              .tiles-content {
                .value {
                  font-size: 1.4rem;
                }
                .description {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .client-wrapper {
    .tiles {
      margin-top: 48px;
      .flex-container {
        .tiles-flexbox {
          .ant-card {
            margin-right: 0px;
            margin-bottom: 0px;
            .tiles-card {
              .tiles-content {
                .value {
                  font-size: 1.2rem;
                }
                .description {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .client-wrapper {
    .tiles {
      margin-top: 48px;
      .flex-container {
        .tiles-flexbox {
          .ant-card {
            margin-right: 0px;
            margin-bottom: 0px;
            .tiles-card {
              .tiles-content {
                .value {
                  font-size: 1rem;
                }
                .description {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}