.client-wrapper {
  .topbar {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .client-wrapper {
    .topbar {
      display: block;
      height: 56px;
      background: #aed581;
      line-height: 56px;
      position: relative;
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 1px -8px rgba(0, 0, 0, 0.1);
      p {
        padding-left: 16px;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        display: inline-block;
        margin-bottom: 0;
        font-size: 1.3rem;
      }
      .ant-btn-group {
        padding-left: 24px;
        position: absolute;
        right: 3%;
        #logout-btn {
          margin-left: 16px;
        }
        .ant-btn-primary {
          background-color: #C8D5B9;
          border-color: #C8D5B9;
          border-left-color: transparent !important;
        }
        .ant-btn-primary:hover {
          background-color: #f48fb1;
          border-color: #f48fb1;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .client-wrapper {
    .topbar {
      p {
        padding-left: 16px;
        margin-bottom: 0;
        font-size: 1.1rem;
      }
      .ant-btn-group {
        padding-left: 24px;
        #logout-btn {
          margin-left: 16px;
        }
        .ant-btn-primary {
          background-color: #C8D5B9;
          padding: 0 7px;
          font-size: 14px;
          border-radius: 4px;
          height: 24px;
          border-color: #C8D5B9;
          border-left-color: transparent !important;
        }
        .ant-btn-primary:hover {
          background-color: #f48fb1;
          border-color: #f48fb1;
        }
      }
    }
  }
}