.admin-page {
  .content {
    margin-top: 32px;
    button.ant-btn {
      height: 2.2rem;
      margin-bottom: 32px;
    }
    th {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.1rem;
    }
    .ant-modal-title {
      font-size: 20px;
    }
    .ant-table {
      overflow: auto;
    }
    .ant-table-wrapper {
      margin-bottom: 16px;
    }
    .ant-table-thead>tr>th,
    .ant-table-tbody>tr>td {
      word-break: initial;
    }
  }
}

@media only screen and (max-width: 991px) {
  .admin-page {
    .content {
      th {
        font-size: 1rem;
      }
      .ant-table-pagination.ant-pagination {
        margin: 16px;
      }
    }
  }
}