.admin-page {
  .topbar {
    height: 64px;
    position: relative;
    line-height: 64px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -2px rgba(0, 0, 0, 0.2);
    background: #aed581;
    .icon-wrapper {
      width: 60px;
      color: #fff;
      float: left;
      cursor: pointer;
      i {
        font-size: 2rem;
        transform: translate(12px,11px);
      }
    }
    .icon-wrapper:hover {
      color: #9ccc65;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    p {
      display: inline-block;
      margin-bottom: 0;
      font-size: 1.8rem;
      padding-left: 4px;
      font-family: 'Ubuntu', sans-serif;
      color: #fff;
    }
    .ant-btn {
      position: absolute;
      right: 2%;
      top: 24%;
      background-color: #C8D5B9;
      border-color: #C8D5B9;
    }
    .ant-btn:hover {
      background-color: #f48fb1;
      border-color: #f48fb1;
    }
  }
}

@media only screen and (max-width: 991px) {
  .admin-page {
    .topbar {
      p {
        font-size: 1.6rem;
      }
      button.ant-btn {
        right: 5%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .admin-page {
    .topbar {
      p {
        font-size: 1.2rem;
      }
    }
  }
}