.client-wrapper {
  .content-wrapper {
    .content {
      .inverter-charts {
        margin-top: 36px;
        .ant-card-body {
          border: .05rem solid #e7e9ed;
        }
        .ant-tabs-bar {
          border-bottom: none;
        }
        .ant-tabs:not(.ant-tabs-vertical)>.ant-tabs-content>.ant-tabs-tabpane {
          padding-left: 48px;
        }
        .energy-chart {
          margin-top: 8px;
          .ant-form {
            margin-top: 20px;
          }
        }
        .power-chart {
          margin-top: 8px;
          .ant-form {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .client-wrapper {
    .content-wrapper {
      .content {
        .inverter-charts {
          .ant-tabs:not(.ant-tabs-vertical)>.ant-tabs-content>.ant-tabs-tabpane {
            padding-left: 0px;
          }
        }
      }
    }
  }
}