.client-wrapper {
  .content-wrapper {
    .content {
      .site-chart-wrapper {
        margin-top: 32px;
        .ant-card-body {
          border: .05rem solid #e7e9ed;
          .ant-form {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .client-wrapper {
    .content-wrapper {
      .content {
        .site-chart-wrapper {
          margin-top: 48px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .client-wrapper {
    .content-wrapper {
      .content {
        .site-chart-wrapper {
          margin-top: 48px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .client-wrapper {
    .content-wrapper {
      .content {
        .site-chart-wrapper {
          margin-top: 48px;
        }
      }
    }
  }
}