.client-report {
  margin: 48px 0px;
  margin-bottom: 24px;
  .title {
    font-size: 1.4rem;
    color: #9e9e9e;
  }
  th {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
  }
  .ant-table {
    overflow: auto;
    font-size: 12px;
    background: #fff;
  }
  .ant-table-wrapper {
    margin-bottom: 16px;
  }
  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    word-break: initial;
  }
  .ant-table-thead>tr>th {
    background: #e6f7ff;
  }
  .ant-table-tbody>tr:hover>td {
    background: transparent;
  }
  .ant-table-pagination {
    margin-right: 16px;
    margin-top: 20px;
  }
  .ant-select {
    width: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .client-report {
    margin: 48px 0px;
    margin-bottom: 24px;
    .title {
      font-size: 1.4rem;
    }
    th {
      font-size: 1.1rem;
    }
    .ant-table {
      font-size: 14px;
    }
    .ant-table-wrapper {
      margin-bottom: 16px;
    }
    .ant-table-pagination {
      margin-right: 16px;
      margin-top: 20px;
    }
    .ant-select {
      width: 181.6px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .client-report {
    margin: 48px 0px;
    margin-bottom: 24px;
    .title {
      font-size: 1.4rem;
    }
    th {
      font-size: 1.1rem;
    }
    .ant-table {
      font-size: 14px;
    }
    .ant-table-wrapper {
      margin-bottom: 16px;
    }
    .ant-table-pagination {
      margin-right: 16px;
      margin-top: 20px;
    }
    .ant-select {
      width: 181.6px;
    }
  }
}