.report-modal {
  .overview-title {
    font-size: 1.2rem;
    color: #1890ff;
    display: inline-block;
  }
  .overview-div {
    position: relative;
    .overview-type {
      font-weight: 500;
      font-size: 0.9rem;
    }
    .overview-text {
      font-size: 0.9rem;
    }
  }
  .ant-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .summary-title {
    font-size: 1.2rem;
    color: #1890ff;
    display: inline-block;
  }
  .csv-link {
    float: right;
    line-height: 28px;
  }
  .csv-link:focus {
    text-decoration: none;
  }
  th {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.94rem;
  }
  .ant-table {
    overflow: auto;
  }
  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    word-break: initial;
  }
  .ant-table-pagination {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .report-modal {
    .overview-title {
      font-size: 1.2rem;
    }
    .overview-div {
      .overview-type {
        font-size: 0.9rem;
      }
      .overview-text {
        font-size: 0.9rem;
      }
    }
    .summary-title {
      font-size: 1.2rem;
    }
    th {
      font-size: 0.94rem;
    }
    .ant-table-pagination {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .report-modal {
    .overview-title {
      font-size: 1.2rem;
    }
    .overview-div {
      .overview-type {
        font-size: 0.9rem;
      }
      .overview-text {
        font-size: 0.9rem;
      }
    }
    .summary-title {
      font-size: 1.2rem;
    }
    th {
      font-size: 0.94rem;
    }
    .ant-table-pagination {
      margin-top: 20px;
    }
  }
}