.login-page {
  .background-image {
    background: url("../images/login-bg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .login-form-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    .ant-card {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      .ant-card-body {
        padding: 0;
        .wrapper-container {
          display: flex;
          flex-direction: row;
          .wrapper-image {
            position: relative;
            width: 400px;
            height: 400px;
            img {
              height: 100%;
              width: 100%;
            }
            .image-text {
              position: absolute;
              top: 32px;
              left: 10%;
              p {
                color: #fff;
                margin-bottom: 0;
              }
              .hello-text {
                font-size: 2rem;
                font-family: 'Ubuntu', sans-serif;
              }
              .welcome-text {
                font-size: 1.4rem;
              }
              .get-started-text {
                font-size: 0.9rem;
              }
            }
          }
          .wrapper-content {
            flex: 1 1 auto;
            .login-header {
              text-align: center;
              margin: 32px 0px;
              p {
                display: inline;
                margin-right: 8px;
                font-size: 2rem;
                font-family: 'Ubuntu', sans-serif;
                color: #424242;
              }
              hr {
                margin-top: 0px;
                border: none;
                height: 1.6px;
                color: #333;
                background-color: #333;
                width: 5%;
              }
            }
            .ant-form {
              .ant-input-affix-wrapper {
                height: 2.2rem;
              }
              .ant-form-explain {
                margin: 4px 0px;
              }
              .ant-btn-primary {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .login-page {
    .background-image {
      display: none;
    }
    .login-form-content {
      top: 0%;
      left: 0%;
      transform: translate(0%, -0%);
      .ant-card {
        box-shadow: none;
        .ant-card-body {
          .wrapper-container {
            flex-direction: column;
            .wrapper-image {
              width: 100%;
              height: 220px;
            }
            .wrapper-content {
              .login-header {
                hr {
                  width: 3%;
                }
              }
              .ant-form {
                margin-bottom: 48px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .login-page {
    .login-form-content {
      .ant-card {
        .ant-card-body {
          .wrapper-container {
            .wrapper-image {
              height: 180px;
            }
            .wrapper-content {
              .login-header {
                hr {
                  width: 5%;
                }
              }
              .ant-form {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}