.client-wrapper {
  .content-wrapper {
    height: 100vh;
    display: flex;
    .sidenav {
      flex: 0 0 260px;
      height: 100%;
      box-shadow: 8px 0px 6px -4px rgba(0, 0, 0, 0.116);
      position: relative;
      z-index: 1;
      background: url("../images/sidenav-bg.jpg");
      background-size: cover;
      .sidenav-top-content {
        margin-bottom: 32px;
        padding-left: 20px;
        .sidenav-title {
          padding-top: 20px;
          margin-bottom: 16px;
          font-size: 1.7rem;
          color: #fff;
          font-family: 'Ubuntu', sans-serif;
        }
        .user-info {
          line-height: 44px;
          display: flex;
          .ant-avatar {
            width: 44px;
            height: 44px;
            line-height: 44px;
            border-radius: 50%;
            background: #ccc !important;
          }
          .ant-avatar.ant-avatar-icon {
            font-size: 20px;
          }
          .avatar-text {
            display: flex;
            flex-direction: column;
            line-height: 1.2;
            margin-left: 20px;
            font-size: 1rem;
            color: #eeeeee;
            font-family: 'Ubuntu', sans-serif;
            span {
              margin-bottom: 4px;
            }
          }
        }
      }
      ul {
        padding-left: 0px;
        list-style-type: none;
        li {
          height: 40px;
          line-height: 40px;
          a {
            display: block;
            font-size: 1.1rem;
            background: #aed581;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            color: #fff;
            padding-left: 32px;
            i {
              margin-right: 16px;
              font-size: 1.3rem;
              transform: translate(0px, 4px)
            }
          }
        }
      }
      .ant-btn {
        position: absolute;
        bottom: 10%;
        margin-left: 32px;
        width: 50%;
        background-color: #f06292;
        border-color: #f06292;
      }
      .ant-btn:hover {
        background-color: #f48fb1;
        border-color: #f48fb1;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .client-wrapper {
    .content-wrapper {
      .sidenav {
        display: none;
      }
    }
  }
}