@import "./login/login";
@import "./admin/topbar";
@import "./admin/content";
@import "./client/content";
@import "./client/topbar/topbar";
@import "./client/sidenav/sidenav";
@import "./client/tiles/tiles";
@import "./client/cards/cards";
@import "./client/inverter/mppt-table";
@import "./client/inverter/extra-tab-content";
@import "./client/inverter/inverter-data";
@import "./client/charts/site-chart";
@import "./client/charts/inverter-charts";
@import "./client/report/report";
@import "./client/report/report-modal";
@import "./client/sites/sensor-readings";

.ant-modal-title {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .ant-modal-title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .ant-modal-title {
    font-size: 20px;
  }
}